
@font-face{
	font-family: peddana;
	src:url("fonts/peddana.ttf");
}
@font-face{
	font-family: Lobster;
	src:url("fonts/Lobster.ttf");
}
.imgedit{
	width: 80%;
	height: 400px;
}
.imgeditteam{
	width: 600px;
	height: 400px;
}
div i{
	font-family: Lobster;
	font-style: italic;
	text-align: center;
	color:#1193f0;
	font-size: 30px;
}
.product_style{
	font-family: peddana;
	color:#1193f0;
	font-size: 35px;
}
.btnsubmit{
	width: 50%;
	height: 50px;
	margin-top: 20px;
	margin-left: 80px;
}
.imgabout{
	width: 100%;
	height: 500px;
}
.aboutus{
	font-family: peddana;
	color: #1193f0;
	font-size: 30px;
	line-height: 35px;
}
.inquiry{
	font-family: peddana;
	font-size: 30px;
	text-align: justify;
}

/*end kks */


